.container {
    max-width: 1170px;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    padding-top: 50px;
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
img {
    max-width: 50px;
    border-radius: 50%;
}
/*footer*/
.main-footer {
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.main-footer p {
    color: white;
    font-size: 13px;
    text-align: center;
}
